<div class="root-container">
    <div class="privacy-content">
        <h1 class="privacy-header animate__animated animate__faster animate__slideInUpBig">{{ 'privacy-component.header'
            | translate }}</h1>
        <div class="animate__animated animate__faster animate__slideInUpBig animate__delay-100ms">
            <p class="mt-5 mb-5">
                Ein Projekt im Rahmen der Lehrveranstaltung Cross Media im Studiengang ON21 der DHBW Mosbach.<br>
                <br />
                Eine Progressive Web App (PWA) von:
            <ul>
                <li>Felix Kopp</li>
                <li>Heiko König</li>
                <li>Sebastian Ludwig</li>
                <li>Moritz Voelkner</li>
                <li>Jendrik Weiss</li>
            </ul>
            <br>
            "Scan me if you can - PWA" ist eine fortschrittliche progressive Web App, die darauf ausgelegt ist,
            Visitenkarten-Daten schnell und effizient zu digitalisieren. Nutzer können die Kamera ihres Laptops oder
            Smartphones verwenden, um Visitenkarten z.B. auf Messen zu scannen und die Informationen direkt in der App
            zu speichern. Diese Funktion erleichtert es erheblich, neue Kontakte zu erfassen und digital zu verwalten,
            und macht das mühsame manuelle Übertragen von Daten überflüssig. Die App bietet eine intuitive Oberfläche
            für das Organisieren, Speichern und Abrufen von Kontaktdaten, wodurch sie zu einem unverzichtbaren Werkzeug
            für professionelles Networking wird. Dank ihrer Offline-Fähigkeit können Benutzer auf ihre gespeicherten
            Kontakte zugreifen, selbst wenn keine Internetverbindung verfügbar ist.
            <br><br>
            Datenschutzerklärung<br>
            Wir nehmen den Schutz Ihrer persönlichen Daten ernst und behandeln Ihre personenbezogenen Daten vertraulich
            und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            <br>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
            unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
            erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
            Zustimmung nicht an Dritte weitergegeben.
            <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich.
            <br><br>
            Cookies<br>
            Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden
            an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer
            zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser
            speichert.
            <br>
            Die meisten der von uns verwendeten Cookies sind so genannte "Session-Cookies". Sie werden nach Ende Ihres
            Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen.
            Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
            <br><br>
            Server-Log-Files<br>
            Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die
            Ihr Browser automatisch an uns übermittelt. Dies sind:
            <ul>
                <li>Browsertyp und Browserversion</li>
                <li>verwendetes Betriebssystem</li>
                <li>Referrer URL</li>
                <li>Hostname des zugreifenden Rechners</li>
                <li>Uhrzeit der Serveranfrage</li>
            </ul>
            Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen
            Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns
            konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
            <br><br>
            Kontaktformular<br>
            <br>
            Weitergabe von Daten<br>
            Ihre persönlichen Daten werden nur dann an Dritte weitergegeben, wenn dies gesetzlich erlaubt ist und/oder
            Sie Ihre ausdrückliche Zustimmung gegeben haben. Besonders im Falle der Weitergabe von Visitenkartendaten,
            die über unsere App gescannt wurden, achten wir streng darauf, dass Ihre Daten sicher und entsprechend den
            Datenschutzvorschriften behandelt werden. Die Übermittlung Ihrer Daten an Dritte ohne ausdrückliche
            Zustimmung, etwa zu Marketingzwecken, findet nicht statt.
            <br><br>
            Rechte der betroffenen Person<br>
            Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
            personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht auf Berichtigung, Sperrung oder Löschung
            dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit
            unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei
            der zuständigen Aufsichtsbehörde zu.
            <br><br>
            Änderung unserer Datenschutzbestimmungen<br>
            Wir behalten uns vor, diese Datenschutzerklärung gelegentlich anzupassen, um sie stets den aktuellen
            rechtlichen Anforderungen zu entsprechen oder um Änderungen unserer Dienste in der Datenschutzerklärung
            umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue
            Datenschutzerklärung.
            <br><br>
            Fragen zum Datenschutz<br>
            Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an
            die Person, die in unserer Organisation als Datenschutzbeauftragte benannt ist.
            <br><br>
            Die Datenschutzerklärung wurde zuletzt am 02.02.2024 aktualisiert.
        </div>
    </div>
</div>