<div class="root-container">
  <div class="contact-content h-100 p-5 container">
    <div class="row h-100">
      <div class="col-xl-4 p-2 list-col">
        <div class="card w-100 h-100 p-4 animate_animated animateslideInUp animate_faster">
          <div class="card-body">
            <h1 class="card-header-text">{{ 'contacts-component.header' | translate }}</h1>
            <div *ngIf="isLoading" class="text-center">
              <h1 class="animate_animated animatefaster animate_slideInUpBig">{{
                'home-component.loading' | translate }}</h1>
            </div>
            <div *ngIf="!isLoading && upcomingContacts.length == 0" class="text-center mt-5">
              <lib-lottie-anim [width]="'250px'" [segments]="[0, 146]" [path]="'assets/animations/schedule-anim.json'"
                [autoplay]="true"></lib-lottie-anim>
              <h1 class="animate_animated animatefaster animate_slideInUpBig">{{
                'home-component.empty' | translate }}</h1>
              <p class="animate_animated animatefaster animateslideInUpBig animate_delay-100ms">
                {{ 'home-component.empty-info' | translate }}</p>
            </div>
               <ul class="travel-list mt-3">
              <li class="travel-list-item"
                [ngClass]="{'active': selectedContact != undefined && selectedContact.id == contact.id}" matRipple
                *ngFor="let contact of upcomingContacts"
                (click)="selectedContact = contact; showDetailsDialog(contact);">
                <div class="travel-list-item-panel">
                  <mat-checkbox (ngModelChange)="completeContact(contact, $event)" [(ngModel)]="contact.done"
                    class="list-item-checkbox"></mat-checkbox>
                  <div class="list-item-avatar">
                    AB
                  </div>
                  <div class="list-item-info-panel">
                    <p>{{ contact.contact }}</p>
                    <p class="continent">{{ contact.continent }}</p>
                  </div>
                  <div class="delete-icon ml-auto">
                    <i class="bi bi-trash-fill"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Contact inspector -->
      <div class="col-xl-8 p-2 inspector-col">
        <div class="card w-100 h-100 p-4 animate_animated animateslideInUp animatefaster animate_delay-100ms">
          <div class="card-body">

            <div *ngIf="!!selectedContact; else elseBlock">
              <div class="contact-panel">
                <div class="contact-panel-avatar">
                  AB
                </div>
                <div class="contact-panel-info">
                  <span class="name">Name</span>
                  <span class="description">Name</span>
                  <mat-chip-set>
                    <mat-chip class="travel-list-tag-box travel-list-country-box">
                      <span class="continent-chip">{{ selectedContact.continent }}</span>
                    </mat-chip>
                  </mat-chip-set>
                </div>
                <!-- for Avatar name -->
              </div>

              <div class="contact-panel-details">
                <b>Ansprache</b>
                <span>Herr</span>
                <i></i>

              </div>
              <div class="contact-panel-details">
                <b>Name </b>
                <span>Herr</span>
                <i></i>
              </div>
              <div class="contact-panel-details">
                <b>Nachname</b>
                <span>Mustermann</span>
                <i></i>

              </div>
              <div class="contact-panel-details">
                <b>Beruf</b>
                <span>Vertrieb</span>
                <i></i>

              </div>
              <div class="contact-panel-details">
                <b>Handynummer</b>
                <span>+49 15189 42135</span>
                <i></i>

              </div>
              <div class="contact-panel-details">
                <b>Tel</b>
                <span>07076 24515</span>
                <i></i>

              </div>
              <div class="contact-panel-details">
                <b>Mail</b>
                <span>max-mustermann@gmail.com</span>
                <i></i>
              </div>
              <mat-chip-set>
                <mat-chip class="travel-list-tag-box travel-list-country-box">
                  <i class="continent-chip bi bi-globe-americas me-1"></i>
                  <span class="continent-chip">{{ selectedContact.continent }}</span>
                </mat-chip>
              </mat-chip-set>
              <h1 class="contact-name">{{ selectedContact.contact }}</h1>
              <h3 class="mt-4">{{ 'contacts-component.lists' | translate }}</h3>
              <mat-chip-listbox>
                <mat-chip-option (click)="updateList(list);" [selected]="list.id == selectedContact.list.id"
                  *ngFor="let list of availableLists">{{ list.name }}</mat-chip-option>
              </mat-chip-listbox>
              <h3 class="mt-4">{{ 'contacts-component.tags' | translate }}</h3>
              <mat-chip-listbox>
                <mat-chip-option (click)="updateTag(tag);" [selected]="tag.id == selectedContact.tag.id"
                  *ngFor="let tag of availableTags">{{ tag.name }}</mat-chip-option>
              </mat-chip-listbox>
              <h3 class="mt-4">{{ 'contacts-component.notes' | translate }}</h3>
              <mat-form-field class="w-100">
                <mat-label>{{ 'contacts-component.notes-placeholder' | translate }}</mat-label>
                <textarea rows="5" matInput [(ngModel)]="selectedContact.notes"></textarea>
              </mat-form-field>
              <button class="mb-5" (click)="updateNotes(selectedContact.notes)" mat-raised-button color="primary">{{
                'contacts-component.save-notes' | translate}}</button>
              <div class="w-100">
                <button (click)="deleteContact()" class="me-2" mat-raised-button color="warn">{{
                  'contacts-component.delete' | translate}}</button>
                <button (click)="completeContact(selectedContact, !selectedContact.done)" mat-raised-button
                  color="primary">{{ selectedContact.done ?
                  ('contacts-component.mark-undone' | translate) : ('contacts-component.mark-done'
                  | translate)}}</button>
              </div>
            </div>

            <ng-template #elseBlock>
              <h2>Selected contact</h2>
              <div class="center-container">
                <p class="center-text">Select a contact to view the added information</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>