<div class="sidebar">
  <!-- Header -->
  <div class="sidebar-header">
    <img src="assets/logos/scan-me-if-u-can-logo.png" width="80">
  </div>

  <!-- Sidebar menu -->
  <ul class="sidebar-menu">
    <li (click)="closeSidebar()" [routerLink]="'home'" id="home-item"
      class="sidebar-menu-item animate_animated animatefaster animate_slideInUpBig" [routerLinkActive]="'active'"
      matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
      <div class="sidebar-menu-item-container">
        <i class="eicon eicon-home"></i>
        {{ 'sidebar-component.home-page' | translate }}
      </div>
    </li>

    <li (click)="closeSidebar()" [routerLink]="'contacts/add-contact'" id="add-contact-item"
      class="sidebar-menu-item animate_animated animatefaster animate_slideInUpBig" [routerLinkActive]="'active'"
      matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
      <div class="sidebar-menu-item-container">
        <i class="eicon-add-contact"></i>
        {{ 'sidebar-component.add-contact' | translate }}
      </div>
    </li>

    <li (click)="closeSidebar()" [routerLink]="'contacts'" id="manage-contacts-item"
      class="sidebar-menu-item animate_animated animatefaster animate_slideInUpBig" [routerLinkActive]="'active'"
      matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
      <div class="sidebar-menu-item-container">
        <i class="eicon-edit-contact"></i>
        {{ 'sidebar-component.manage-contacts' | translate }}
      </div>
    </li>

    <li (click)="closeSidebar()" [routerLink]="'export'" id="export-item"
      class="sidebar-menu-item animate_animated animatefaster animate_slideInUpBig" [routerLinkActive]="'active'"
      matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
      <div class="sidebar-menu-item-container">
        <i class="eicon-export"></i>
        {{ 'sidebar-component.export' | translate }}
      </div>
    </li>
  </ul>

  <!-- Theme toggler -->
  <div class="theme-toggler">
    <ul class="sidebar-menu">
      <li (click)="closeSidebar()" [routerLink]="'settings'" id="home-item"
        class="sidebar-menu-item animate_animated animatefaster animate_slideInUpBig" [routerLinkActive]="'active'"
        matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
        <div class="sidebar-menu-item-container">
          <i class="eicon-settings"></i>
          {{ 'sidebar-component.settings' | translate }}
        </div>
      </li>
    </ul>
   <!--<div class="wrapper">
      <button mat-raised-button [color]="this.isLightTheme ? '' : 'primary'" (click)="toggleTheme(!this.isLightTheme);">
        {{ 'sidebar-component.toggle-theme' | translate }}
      </button>
    </div> -->
  </div>
</div>
