<div class="contact-panel">
  <div class="contact-panel-avatar">
    {{ contact.avatar }}
  </div>
  <div class="contact-panel-info">
    <span class="name">{{ contact.firstname }} {{ contact.lastname }}</span>
    <span class="description">{{ contact.profession }}</span>
    <mat-chip-set class="mt-1">
      <mat-chip class="travel-list-tag-box travel-list-country-box">
        <span class="continent-chip">{{ contact.profession }}</span>
      </mat-chip>
    </mat-chip-set>
  </div>

</div>

<div class="contact-panel-details">
  <b class="row-label">Speech</b>
  <span>Mister</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>

</div>
<div class="contact-panel-details">
  <b class="row-label">First Name</b>
  <span>{{ contact.firstname }}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>
</div>
<div class="contact-panel-details">
  <b class="row-label">Last Name</b>
  <span>{{ contact.lastname }}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>

</div>
<div class="contact-panel-details">
  <b class="row-label">Profession</b>
  <span>{{ contact.profession }}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>

</div>
<div class="contact-panel-details">
  <b class="row-label">Mobile Number</b>
  <span>{{ contact.mobile }}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>

</div>
<div class="contact-panel-details">
  <b class="row-label">Tel</b>
  <span>{{ contact.tel}}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>

</div>
<div class="contact-panel-details">
  <b class="row-label">Mail</b>
  <span>{{contact.email }}</span>
  <div class="edit-icon">
    <i class="bi bi-pencil-fill"></i>
  </div>
</div>

<mat-form-field class="w-100 mt-3">
  <mat-label>{{ 'contacts-component.notes-placeholder' | translate }}</mat-label>
  <textarea rows="5" matInput [(ngModel)]="contact.notes"></textarea>
</mat-form-field>
<button class="mb-5 blue-btn" mat-raised-button color="primary">{{
  'contacts-component.save-notes' | translate}}</button>